@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
@keyframes heart {
  to {
    transform: scale(1);
  }
  from {
    transform: scale(0);
  }
}
@keyframes anim-plats {
  to {
    opacity: 1;
    transform: translateY(0px);
  }
  from {
    opacity: 0;
    transform: translateY(10px);
  }
}
/*@keyframes anim-div {
    0% {
        margin-top: -70px;
        opacity: 0;
    }

    100% {
        margin-top: 0;
        opacity: 1;
    }
}*/
@keyframes validation {
  to {
    transform: translateX(-90px);
    opacity: 1;
  }
  from {
    transform: translateX(0);
    opacity: 0;
  }
}
@keyframes validation_rotation {
  to {
    transform: rotate(360deg);
    opacity: 1;
  }
  from {
    transform: rotate(0deg);
    opacity: 0;
  }
}
@keyframes prix {
  to {
    transform: translateX(-90px);
  }
  from {
    transform: translateX(0);
  }
}
@keyframes rotation_validation {
  to {
    transform: rotate(180);
  }
  from {
    transform: rotate(0);
  }
}
body {
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vide {
  width: 50px;
  margin-left: 50px;
}

.logo {
  font-family: shrikhand;
  font-size: 35px;
  display: flex;
  justify-content: center;
  margin: 10px;
}

h1 {
  font-family: roboto;
}

h2 {
  font-family: roboto;
  font-size: 20px;
  font-weight: 300;
  color: #7e7e7e;
}

p {
  font-family: roboto;
  font-size: 14px;
}

/*---------------------------------Restaurant ---------------------------------*/
.icone-retour {
  margin-left: 50px;
}

.container-resto {
  display: flex;
  flex-direction: column;
}
.container-resto .container_img-resto img {
  width: 100%;
  height: 225px;
  display: flex;
  object-fit: cover;
  margin-bottom: -25px;
}

.menu {
  background-color: #f6f6f6;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  top: 200px;
  justify-content: center;
}
.menu h2 {
  font-family: roboto;
  font-weight: 600;
  margin-left: 25px;
}

.nom-resto {
  display: flex;
  align-items: center;
  position: relative;
}
.nom-resto .container_heart {
  position: absolute;
  background: black;
  width: 50px;
  height: 50px;
  right: 25px;
  clip-path: path("M 4.018905,5.1914243 a 8.7328133,8.7328133 0 0 1 12.083124,-0.2315626 8.7328133,8.7328133 0 0 1 0.01769,-0.017687 8.7328133,8.7328133 0 0 1 0.0032,-0.00325 8.7328133,8.7328133 0 0 1 12.35006,0 8.7328133,8.7328133 0 0 1 1e-6,12.3500633 8.7328133,8.7328133 0 0 1 -0.0032,0.0032 L 16.119721,29.642294 4.0189097,17.541485 3.7696574,17.292232 l 0.00487,-0.0049 A 8.7328133,8.7328133 0 0 1 4.0188772,5.1914522 Z");
  transform: translate(0px, 25px);
}
.nom-resto .btn_heart {
  width: 50px;
  height: 50px;
  right: 25px;
  background: white;
  clip-path: path("M 4.9659367,6.4198605 a 8.0564026,7.7507194 0 0 1 11.1472103,-0.2055211 8.0564026,7.7507194 0 0 1 0.01632,-0.015698 8.0564026,7.7507194 0 0 1 0.003,-0.00289 8.0564026,7.7507194 0 0 1 11.393471,0 8.0564026,7.7507194 0 0 1 1e-6,10.9611726 8.0564026,7.7507194 0 0 1 -0.003,0.0029 L 16.129469,28.120981 4.965941,17.381031 4.7359948,17.159809 l 0.0045,-0.0043 A 8.0564026,7.7507194 0 0 1 4.965911,6.4198853 Z");
}
.nom-resto .btn_heart:active {
  animation: heart;
  animation-duration: 2s;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
}
.nom-resto h1 {
  font-family: shrikhand;
  font-size: 25px;
  font-weight: 300;
  margin-left: 25px;
}

.nom_plat1 {
  animation: anim-plats;
  animation-duration: 2s;
}

.nom_plat2 {
  animation: anim-plats;
  animation-duration: 4s;
}

.nom_plat3 {
  animation: anim-plats;
  animation-duration: 6s;
}

.nom_plat4 {
  animation: anim-plats;
  animation-duration: 8s;
}

h2 {
  border-bottom: solid 4px #99E2D0;
  padding-bottom: 10px;
  width: 50px;
}

.nom_plat {
  width: 70%;
}

.etiquette_plats {
  background-color: white;
  border-radius: 15px;
  margin: 10px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 17px rgba(0, 0, 0, 0.281);
}
.etiquette_plats h3 {
  font-family: roboto;
  font-weight: 800;
  font-size: 15px;
}
.etiquette_plats p {
  font-family: roboto;
  font-weight: 400;
  text-overflow: ellipsis;
}

.fond {
  display: flex;
  width: 130px;
  align-items: flex-end;
  position: relative;
  right: -90px;
}
.fond:hover {
  animation: validation;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
.fond .fa-circle-check {
  transition: all(180deg) 5s;
}
.fond .fa-circle-check:hover {
  transform: rotate(360deg);
}
.fond .prix {
  display: flex;
}
.fond .validation {
  position: absolute;
  display: flex;
  width: 90px;
  right: 0;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
  opacity: 0;
}
.fond .validation:hover {
  opacity: 1;
}

.info-fonction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 30px;
}
.info-fonction h1 {
  font-size: 25px;
  font-family: roboto;
}
.info-fonction p {
  font-size: 15px;
  font-family: roboto;
}
.info-fonction .btn-explore {
  display: flex;
  justify-content: center;
}

#explore {
  justify-content: center;
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: none;
  height: 50px;
  width: 200px;
  font-size: 15px;
  transition: opacity 500ms;
  box-shadow: 2px 2px 17px rgba(0, 0, 0, 0.281);
}
#explore:hover {
  opacity: 0.5;
}

/*---------------------------------footer---------------------------------*/
footer {
  background-color: #353535;
  margin: 0;
  padding: 15px;
  color: white;
}

footer a {
  color: white;
}

.titre-footer {
  font-family: shrikhand;
  margin-bottom: 15px;
}

.list-footer {
  display: flex;
  flex-direction: column;
}

.propal a {
  display: flex;
  align-items: center;
}
.propal a p {
  margin-left: 15px;
}

.partenaire a {
  display: flex;
  align-items: center;
}
.partenaire a p {
  margin-left: 5px;
}

.contact {
  padding-top: 15px;
}

/*---------------------------------------------Media Queries desktop -------------------------------------------------------*/
@media screen and (min-width: 992px) {
  .compo-menu {
    display: flex;
    width: 90%;
  }

  .type_plats {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .etiquette_plats {
    display: flex;
  }
}
/*---------------------------------------------Media Queries tablette -------------------------------------------------------*/

/*# sourceMappingURL=main-resto1.css.map */
