@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
@keyframes anim-plats {
  to {
    opacity: 1;
    transform: translateY(0px);
  }
  from {
    opacity: 0;
    transform: translateY(10px);
  }
}
@keyframes rotation_check {
  to {
    transform: rotate(360deg);
    opacity: 1;
  }
  from {
    transform: rotate(0deg);
    opacity: 0;
  }
}
body {
  margin: 0px;
  padding: 0px;
}

a {
  color: black;
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vide {
  width: 50px;
  margin-left: 50px;
}

.logo h1 {
  font-family: shrikhand;
  font-size: 35px;
  display: flex;
  justify-content: center;
  margin: 10px;
}

h2 {
  font-family: roboto;
}

h3 {
  font-family: roboto;
  font-size: 20px;
  font-weight: 300;
  color: #7e7e7e;
}

p {
  font-family: roboto;
  font-size: 14px;
}

/*---------------------------------Restaurant ---------------------------------*/
.icone-retour {
  margin-left: 25px;
}

.container-resto {
  display: flex;
  flex-direction: column;
}
.container-resto .container_img-resto img {
  width: 100%;
  height: 225px;
  display: flex;
  object-fit: cover;
  margin-bottom: -25px;
}

.menu {
  background-color: #f6f6f6;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  top: 200px;
  justify-content: center;
}
.menu h3 {
  font-family: roboto;
  font-weight: 600;
  margin-left: 25px;
}

.nom-resto {
  display: flex;
  align-items: center;
  position: relative;
}
.nom-resto h2 {
  font-family: shrikhand;
  font-size: 25px;
  font-weight: 300;
  margin-left: 25px;
}

.background_heart {
  position: absolute;
  width: 35px;
  height: 35px;
  right: 30px;
  top: 15px;
  background: black;
  clip-path: polygon(10% 30%, 10.9641637802% 23.8478507996%, 13.781545639% 18.2945747375%, 18.1678771973% 13.8739042282%, 23.6988430023% 11.0129117966%, 29.8432273865% 10.0006952286%, 36.0027885437% 10.9165267944%, 41.5780029297% 13.690196991%, 46.0327339172% 18.0419139862%, 48.9371032715% 23.5502109528%, 49.9974899292% 29.6864318848%, 50.8701019287% 24.1470050812%, 53.5998039246% 18.5501174927%, 57.9166641235% 14.0615682602%, 63.4020080566% 11.1139993668%, 69.5297088623% 10.0054912567%, 75.7029037476% 10.8249359131%, 81.3211135864% 13.5104007721%, 85.8431777954% 17.7921123505%, 88.8337631226% 23.2541713715%, 89.9903564453% 29.3729534149%, 89.6500778198% 35.6110649109%, 88.4668655396% 41.7461891174%, 86.5246047974% 47.685634613%, 83.9305877686% 53.3717460632%, 80.7966995239% 58.7799911499%, 77.2238464355% 63.9094848633%, 73.2959976196% 68.7730331421%, 69.0808334351% 73.3903121948%, 64.631362915% 77.7824859619%, 59.9892158508% 81.9707794189%, 55.18699646% 85.9746627808%, 50.2504692078% 89.8117218018%, 45.3020820618% 86.3665237427%, 40.4854507446% 82.3801422119%, 35.8258934021% 78.2111816406%, 31.3553733826% 73.8403396606%, 27.114566803% 69.2466430664%, 23.1551704407% 64.4086761475%, 19.5431594849% 59.3066558838%, 16.3609237671% 53.926612854%, 13.707906723% 48.2676734924%, 11.6951808929% 42.3516120911%, 10.4316673279% 36.23229599%, 10% 30%);
}
.background_heart .background_heart_white {
  background: white;
  top: 3px;
  right: -3px;
  position: relative;
  width: 29px;
  height: 29px;
  clip-path: polygon(10% 30%, 10.9641637802% 23.8478507996%, 13.781545639% 18.2945747375%, 18.1678771973% 13.8739042282%, 23.6988430023% 11.0129117966%, 29.8432273865% 10.0006952286%, 36.0027885437% 10.9165267944%, 41.5780029297% 13.690196991%, 46.0327339172% 18.0419139862%, 48.9371032715% 23.5502109528%, 49.9974899292% 29.6864318848%, 50.8701019287% 24.1470050812%, 53.5998039246% 18.5501174927%, 57.9166641235% 14.0615682602%, 63.4020080566% 11.1139993668%, 69.5297088623% 10.0054912567%, 75.7029037476% 10.8249359131%, 81.3211135864% 13.5104007721%, 85.8431777954% 17.7921123505%, 88.8337631226% 23.2541713715%, 89.9903564453% 29.3729534149%, 89.6500778198% 35.6110649109%, 88.4668655396% 41.7461891174%, 86.5246047974% 47.685634613%, 83.9305877686% 53.3717460632%, 80.7966995239% 58.7799911499%, 77.2238464355% 63.9094848633%, 73.2959976196% 68.7730331421%, 69.0808334351% 73.3903121948%, 64.631362915% 77.7824859619%, 59.9892158508% 81.9707794189%, 55.18699646% 85.9746627808%, 50.2504692078% 89.8117218018%, 45.3020820618% 86.3665237427%, 40.4854507446% 82.3801422119%, 35.8258934021% 78.2111816406%, 31.3553733826% 73.8403396606%, 27.114566803% 69.2466430664%, 23.1551704407% 64.4086761475%, 19.5431594849% 59.3066558838%, 16.3609237671% 53.926612854%, 13.707906723% 48.2676734924%, 11.6951808929% 42.3516120911%, 10.4316673279% 36.23229599%, 10% 30%);
}
.background_heart .container_heart {
  position: absolute;
  top: 0;
  width: 35px;
  height: 35px;
  clip-path: polygon(10% 30%, 10.9641637802% 23.8478507996%, 13.781545639% 18.2945747375%, 18.1678771973% 13.8739042282%, 23.6988430023% 11.0129117966%, 29.8432273865% 10.0006952286%, 36.0027885437% 10.9165267944%, 41.5780029297% 13.690196991%, 46.0327339172% 18.0419139862%, 48.9371032715% 23.5502109528%, 49.9974899292% 29.6864318848%, 50.8701019287% 24.1470050812%, 53.5998039246% 18.5501174927%, 57.9166641235% 14.0615682602%, 63.4020080566% 11.1139993668%, 69.5297088623% 10.0054912567%, 75.7029037476% 10.8249359131%, 81.3211135864% 13.5104007721%, 85.8431777954% 17.7921123505%, 88.8337631226% 23.2541713715%, 89.9903564453% 29.3729534149%, 89.6500778198% 35.6110649109%, 88.4668655396% 41.7461891174%, 86.5246047974% 47.685634613%, 83.9305877686% 53.3717460632%, 80.7966995239% 58.7799911499%, 77.2238464355% 63.9094848633%, 73.2959976196% 68.7730331421%, 69.0808334351% 73.3903121948%, 64.631362915% 77.7824859619%, 59.9892158508% 81.9707794189%, 55.18699646% 85.9746627808%, 50.2504692078% 89.8117218018%, 45.3020820618% 86.3665237427%, 40.4854507446% 82.3801422119%, 35.8258934021% 78.2111816406%, 31.3553733826% 73.8403396606%, 27.114566803% 69.2466430664%, 23.1551704407% 64.4086761475%, 19.5431594849% 59.3066558838%, 16.3609237671% 53.926612854%, 13.707906723% 48.2676734924%, 11.6951808929% 42.3516120911%, 10.4316673279% 36.23229599%, 10% 30%);
}
.background_heart .container_heart:hover .btn_heart {
  height: 35px;
  transition: height 1s ease-in;
}
.background_heart .container_heart .btn_heart {
  position: absolute;
  bottom: 0;
  width: 35px;
  height: 0px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
}

.nom_plat1 {
  animation: anim-plats;
  animation-duration: 2s;
}

.nom_plat2 {
  animation: anim-plats;
  animation-duration: 4s;
}

.nom_plat3 {
  animation: anim-plats;
  animation-duration: 6s;
}

.nom_plat4 {
  animation: anim-plats;
  animation-duration: 8s;
}

h3 {
  border-bottom: solid 4px #99E2D0;
  padding-bottom: 10px;
  width: 50px;
}

.etiquette_plats {
  background-color: white;
  border-radius: 15px;
  margin: 10px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 17px rgba(0, 0, 0, 0.281);
}
.etiquette_plats .etiquette {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.etiquette_plats .etiquette .info_plat {
  display: flex;
  justify-content: space-between;
}
.etiquette_plats .etiquette .info_plat .accompagnements {
  overflow: hidden;
}
.etiquette_plats .etiquette .info_plat .accompagnements p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.etiquette_plats .validation {
  display: flex;
  width: 0px;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
}
.etiquette_plats p {
  font-size: 15px;
  font-family: roboto;
  margin: 0 10px 10px 0;
}
.etiquette_plats h4 {
  font-size: 15px;
  font-family: roboto;
  margin: 10px 10px 5px 0;
}
.etiquette_plats:hover .validation {
  transition: width 1.5s ease-in;
  width: 100px;
}
.etiquette_plats:hover .fa-circle-check {
  animation: rotation_check 1.5s ease-in;
  opacity: 1;
  display: block;
}
.etiquette_plats:hover .etiquette {
  width: calc(100% - 100px);
  transition: width 1.5s ease-in;
}
.etiquette_plats .validation {
  display: flex;
  width: 0px;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
}
.etiquette_plats .fa-circle-check {
  color: white;
  opacity: 0;
  display: none;
}

.info-fonction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 30px;
}
.info-fonction h2 {
  font-size: 25px;
  font-family: roboto;
}
.info-fonction p {
  font-size: 15px;
  font-family: roboto;
}
.info-fonction .btn-explore {
  display: flex;
  justify-content: center;
}

#explore {
  justify-content: center;
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: none;
  height: 50px;
  width: 200px;
  font-size: 15px;
  font-weight: 600;
  transition: opacity 500ms;
  box-shadow: 2px 2px 17px rgba(0, 0, 0, 0.281);
}
#explore:hover {
  opacity: 0.5;
  box-shadow: 2px 2px 17px rgba(0, 0, 0, 0.5);
}

/*---------------------------------footer---------------------------------*/
footer {
  background-color: #353535;
  margin: 0;
  padding: 15px;
  color: white;
}

footer a {
  color: white;
}

.titre-footer {
  font-family: shrikhand;
  margin-bottom: 15px;
}

.list-footer {
  display: flex;
  flex-direction: column;
}

.propal a {
  display: flex;
  align-items: center;
}
.propal a p {
  margin-left: 15px;
}

.partenaire a {
  display: flex;
  align-items: center;
}
.partenaire a p {
  margin-left: 5px;
}

.contact {
  padding-top: 15px;
}

/*---------------------------------------------Media Queries desktop -------------------------------------------------------*/
@media screen and (min-width: 992px) {
  .compo-menu {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .type_plats {
    display: flex;
    flex-direction: column;
    width: 30%;
  }

  .etiquette_plats {
    display: flex;
  }
}
/*---------------------------------------------Media Queries tablette -------------------------------------------------------*/

/*# sourceMappingURL=main-resto1.css.map */
