@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
body {
  margin: 0%;
}

header {
  font-family: shrikhand;
  font-size: 35px;
  display: flex;
  justify-content: center;
  margin: 10px;
}

/*---------------------------------Localisation---------------------------------*/
.localisation {
  display: flex;
  box-sizing: border-box;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  font-weight: 600;
}
.localisation #localisation {
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
}
.localisation #recherche {
  display: flex;
  width: auto;
  align-items: center;
  margin: 0%;
  padding: 0%;
  border: none;
  background-color: #eaeaea;
}

/*---------------------------------information---------------------------------*/
.information {
  display: flex;
  background-color: #f6f6f6;
}

.info-fonction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 30px;
}
.info-fonction h1 {
  display: flex;
  font-size: 25px;
  font-family: roboto;
}
.info-fonction p {
  display: flex;
  font-size: 15px;
  font-family: roboto;
}
.info-fonction .btn-explore {
  display: flex;
  justify-content: center;
}

#explore {
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: none;
}

/*---------------------------------fonctionnement---------------------------------*/
.etape {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}

.etape-text {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 15px;
  width: 80%;
  height: 80px;
  box-shadow: 2px 2px 17px rgba(0, 0, 0, 0.1);
}
.etape-text #etape-icone {
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  color: #7e7e7e;
  margin-left: 20px;
}
.etape-text p {
  font-size: 15px;
  font-weight: 500;
  font-family: roboto;
}
.etape-text a {
  display: flex;
  text-decoration: none;
}

.etape-text a:hover {
  background-color: #f5edff;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  border-radius: 15px;
  width: 100%;
  height: 80px;
}
.etape-text a:hover #etape-icone {
  color: #9356DC;
}

.etape-text a:visited {
  text-decoration: none;
  color: black;
}

.fonctionnement h1 {
  font-family: roboto;
  font-size: 25px;
  padding: 20px;
}

.etape-number {
  display: flex;
  position: absolute;
  left: 25px;
}
.etape-number p {
  display: flex;
  background-color: #9356DC;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  color: white;
  align-items: center;
  justify-content: center;
}

/*---------------------------------Restaurant---------------------------------*/
.titre h1 {
  font-family: roboto;
  font-size: 25px;
  padding: 20px;
}

.restaurants {
  background-color: #f6f6f6;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  background-color: white;
}
.container .container_img img {
  width: 100%;
  height: 225px;
  display: flex;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
  z-index: 1;
}
.container .container_img .new {
  position: absolute;
  font-family: roboto;
  font-weight: 500;
  font-size: 15px;
  color: #008766;
  text-align: center;
  margin-top: 25px;
  padding-top: 5px;
  background-color: #99E2D0;
  z-index: 2;
  width: 100px;
  height: 25px;
  left: 250px;
  border-radius: 5px;
  box-shadow: 2px 2px 17px rgba(0, 0, 0, 0.1);
}
.container p {
  margin-left: 15px;
  font-family: roboto;
}

/*# sourceMappingURL=style.css.map */
