@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');

$font-titre-logo: shrikhand;
$font-text: roboto;
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-search: #eaeaea;






@keyframes anim-plats {
    to {
        opacity: 1;
        transform: translateY(0px);
    }

    from {
        opacity: 0;
        transform: translateY(10px);
    }
}

@keyframes rotation_check {
    to {
        transform: rotate(360deg);
        opacity: 1;
    }

    from {
        transform: rotate(0deg);
        opacity: 0;
    }
}




body {
    margin: 0px;
    padding: 0px;
}



a {
    color: black;
    text-decoration: none;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.vide {
    width: 50px;
}

.logo h1 {
    font-family: $font-titre-logo;
    font-size: 35px;
    display: flex;
    justify-content: center;
    margin: 10px;
}

h2 {
    font-family: $font-text;
}

h3 {
    font-family: $font-text;
    font-size: 20px;
    font-weight: 300;
    color: #7e7e7e;
}

p {
    font-family: $font-text;
    font-size: 14px;

}

/*---------------------------------Restaurant ---------------------------------*/
.icone-retour {
    margin-left: 25px;
}

.container-resto {
    display: flex;
    flex-direction: column;

    .container_img-resto img {
        width: 100%;
        height: 225px;
        display: flex;
        object-fit: cover;
        margin-bottom: -25px;

    }
}


.menu {
    background-color: #f6f6f6;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    top: 200px;
    justify-content: center;

    h3 {
        font-family: $font-text;
        font-weight: 600;
        margin-left: 25px;
    }

}


.nom-resto {
    display: flex;
    align-items: center;
    position: relative;



    h2 {
        font-family: $font-titre-logo;
        font-size: 25px;
        font-weight: 300;
        margin-left: 25px;
    }
}

.background_heart {
    position: absolute;
    width: 35px;
    height: 35px;
    right: 30px;
    top: 15px;
    background: black;
    clip-path: polygon(10% 30%, 10.964163780212402% 23.847850799560547%, 13.781545639038086% 18.294574737548828%, 18.167877197265625% 13.87390422821045%, 23.698843002319336% 11.012911796569824%, 29.84322738647461% 10.00069522857666%, 36.00278854370117% 10.916526794433594%, 41.5780029296875% 13.690196990966797%, 46.03273391723633% 18.041913986206055%, 48.937103271484375% 23.55021095275879%, 49.99748992919922% 29.686431884765625%, 50.87010192871094% 24.147005081176758%, 53.59980392456055% 18.55011749267578%, 57.916664123535156% 14.061568260192871%, 63.402008056640625% 11.113999366760254%, 69.52970886230469% 10.005491256713867%, 75.7029037475586% 10.824935913085938%, 81.32111358642578% 13.510400772094727%, 85.84317779541016% 17.792112350463867%, 88.8337631225586% 23.25417137145996%, 89.9903564453125% 29.372953414916992%, 89.65007781982422% 35.61106491088867%, 88.46686553955078% 41.74618911743164%, 86.52460479736328% 47.68563461303711%, 83.93058776855469% 53.37174606323242%, 80.79669952392578% 58.779991149902344%, 77.22384643554688% 63.90948486328125%, 73.2959976196289% 68.77303314208984%, 69.0808334350586% 73.39031219482422%, 64.63136291503906% 77.78248596191406%, 59.98921585083008% 81.97077941894531%, 55.18699645996094% 85.97466278076172%, 50.25046920776367% 89.81172180175781%, 45.30208206176758% 86.36652374267578%, 40.485450744628906% 82.38014221191406%, 35.82589340209961% 78.211181640625%, 31.35537338256836% 73.84033966064453%, 27.114566802978516% 69.24664306640625%, 23.155170440673828% 64.40867614746094%, 19.54315948486328% 59.30665588378906%, 16.360923767089844% 53.926612854003906%, 13.707906723022461% 48.26767349243164%, 11.695180892944336% 42.35161209106445%, 10.43166732788086% 36.232295989990234%, 10% 30%);
 .background_heart_white {
        background: white;
        top: 3px;
        right: -3px;
        position: relative;
        width: 29px;
        height: 29px;
        clip-path: polygon(10% 30%, 10.964163780212402% 23.847850799560547%, 13.781545639038086% 18.294574737548828%, 18.167877197265625% 13.87390422821045%, 23.698843002319336% 11.012911796569824%, 29.84322738647461% 10.00069522857666%, 36.00278854370117% 10.916526794433594%, 41.5780029296875% 13.690196990966797%, 46.03273391723633% 18.041913986206055%, 48.937103271484375% 23.55021095275879%, 49.99748992919922% 29.686431884765625%, 50.87010192871094% 24.147005081176758%, 53.59980392456055% 18.55011749267578%, 57.916664123535156% 14.061568260192871%, 63.402008056640625% 11.113999366760254%, 69.52970886230469% 10.005491256713867%, 75.7029037475586% 10.824935913085938%, 81.32111358642578% 13.510400772094727%, 85.84317779541016% 17.792112350463867%, 88.8337631225586% 23.25417137145996%, 89.9903564453125% 29.372953414916992%, 89.65007781982422% 35.61106491088867%, 88.46686553955078% 41.74618911743164%, 86.52460479736328% 47.68563461303711%, 83.93058776855469% 53.37174606323242%, 80.79669952392578% 58.779991149902344%, 77.22384643554688% 63.90948486328125%, 73.2959976196289% 68.77303314208984%, 69.0808334350586% 73.39031219482422%, 64.63136291503906% 77.78248596191406%, 59.98921585083008% 81.97077941894531%, 55.18699645996094% 85.97466278076172%, 50.25046920776367% 89.81172180175781%, 45.30208206176758% 86.36652374267578%, 40.485450744628906% 82.38014221191406%, 35.82589340209961% 78.211181640625%, 31.35537338256836% 73.84033966064453%, 27.114566802978516% 69.24664306640625%, 23.155170440673828% 64.40867614746094%, 19.54315948486328% 59.30665588378906%, 16.360923767089844% 53.926612854003906%, 13.707906723022461% 48.26767349243164%, 11.695180892944336% 42.35161209106445%, 10.43166732788086% 36.232295989990234%, 10% 30%);
 }

    .container_heart {
        position: absolute;
        top: 0;
        width: 35px;
        height: 35px;
        clip-path: polygon(10% 30%, 10.964163780212402% 23.847850799560547%, 13.781545639038086% 18.294574737548828%, 18.167877197265625% 13.87390422821045%, 23.698843002319336% 11.012911796569824%, 29.84322738647461% 10.00069522857666%, 36.00278854370117% 10.916526794433594%, 41.5780029296875% 13.690196990966797%, 46.03273391723633% 18.041913986206055%, 48.937103271484375% 23.55021095275879%, 49.99748992919922% 29.686431884765625%, 50.87010192871094% 24.147005081176758%, 53.59980392456055% 18.55011749267578%, 57.916664123535156% 14.061568260192871%, 63.402008056640625% 11.113999366760254%, 69.52970886230469% 10.005491256713867%, 75.7029037475586% 10.824935913085938%, 81.32111358642578% 13.510400772094727%, 85.84317779541016% 17.792112350463867%, 88.8337631225586% 23.25417137145996%, 89.9903564453125% 29.372953414916992%, 89.65007781982422% 35.61106491088867%, 88.46686553955078% 41.74618911743164%, 86.52460479736328% 47.68563461303711%, 83.93058776855469% 53.37174606323242%, 80.79669952392578% 58.779991149902344%, 77.22384643554688% 63.90948486328125%, 73.2959976196289% 68.77303314208984%, 69.0808334350586% 73.39031219482422%, 64.63136291503906% 77.78248596191406%, 59.98921585083008% 81.97077941894531%, 55.18699645996094% 85.97466278076172%, 50.25046920776367% 89.81172180175781%, 45.30208206176758% 86.36652374267578%, 40.485450744628906% 82.38014221191406%, 35.82589340209961% 78.211181640625%, 31.35537338256836% 73.84033966064453%, 27.114566802978516% 69.24664306640625%, 23.155170440673828% 64.40867614746094%, 19.54315948486328% 59.30665588378906%, 16.360923767089844% 53.926612854003906%, 13.707906723022461% 48.26767349243164%, 11.695180892944336% 42.35161209106445%, 10.43166732788086% 36.232295989990234%, 10% 30%);
       
        &:hover {

            .btn_heart {
                height: 35px;
                transition: height 1s ease-in;
            }
        }

        .btn_heart {
            position: absolute;
            bottom: 0;
            width: 35px;
            height: 0px;

            background: linear-gradient(to bottom right, $color-secondary, $color-primary);

        }
    }
}

.nom_plat1 {
    animation: anim-plats;
    animation-duration: 2s;

}

.nom_plat2 {
    animation: anim-plats;
    animation-duration: 4s;
}

.nom_plat3 {
    animation: anim-plats;
    animation-duration: 6s;
}

.nom_plat4 {
    animation: anim-plats;
    animation-duration: 8s;
}



h3 {

    border-bottom: solid 4px $color-tertiary;
    padding-bottom: 10px;
    width: 50px;

}

.etiquette_plats {
    background-color: white;
    border-radius: 15px;
    margin: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 17px rgba(0, 0, 0, 0.281);
    


    .etiquette {
        display: flex;
        flex-direction: column;
        width: 100%;
        

        .info_plat {
            display: flex;
            justify-content: space-between;
            
            .accompagnements {
                overflow: hidden;

                p {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                }
            }
            
        }

    }

    .validation {
        display: flex;
        width: 0px;
        align-items: center;
        justify-content: center;
        background-color: $color-tertiary;
        border-radius: 0 15px 15px 0;
    }

    p {
        font-size: 15px;
        font-family: $font-text;
        margin: 0 10px 10px 0;


    }

    h4 {
        font-size: 15px;
        font-family: $font-text;
        margin: 10px 10px 5px 0;
    }

    &:hover {
        .validation {
            transition: width 1.5s ease-in;
            width: 100px;

        }

        .fa-circle-check {
            animation: rotation_check 1.5s ease-in;
            opacity: 1;
            display:block;
                        
        }

        .etiquette {
            width: calc(100% - 100px);
            transition: width 1.5s ease-in;
        }
    }

    .validation {
        display: flex;
        width: 0px;
        align-items: center;
        justify-content: center;
        background-color: $color-tertiary;
        border-radius: 0 15px 15px 0;
    }

    .fa-circle-check {
        color: white;
        opacity: 0;
        display: none;
    }

    
}





.info-fonction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px;


    h2 {
        font-size: 25px;
        font-family: $font-text;

    }

    p {
        font-size: 15px;
        font-family: $font-text;
    }

    .btn-explore {
        display: flex;
        justify-content: center;

    }
}

#explore {
    justify-content: center;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
    border: none;
    height: 50px;
    width: 200px;
    font-size: 15px;
    font-weight: 600;
    transition: opacity 500ms;
    box-shadow: 2px 2px 17px rgba(0, 0, 0, 0.281);

    &:hover {
        opacity: 0.5;
        box-shadow: 2px 2px 17px rgba(0, 0, 0, 0.5);
    }
}



/*---------------------------------footer---------------------------------*/

footer {
    background-color: #353535;
    margin: 0;
    padding: 15px;
    color: white;

}

footer a {
    color: white;
}

.titre-footer {
    font-family: $font-titre-logo;
    margin-bottom: 15px;
}

.list-footer {
    display: flex;
    flex-direction: column;
}

.propal a {
    display: flex;
    align-items: center;

    p {
        margin: 10px 0 5px 15px;

    }

}

.partenaire a {
    display: flex;
    align-items: center;

    p {
        margin: 10px 0 10px 10px;

    }
}

.contact {
    padding-top: 10px;
}


/*---------------------------------------------Media Queries desktop -------------------------------------------------------*/
@media screen and (min-width:992px) {

    .compo-menu {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .type_plats {
        display: flex;
        flex-direction: column;
        width: 30%;
    }

    .etiquette_plats {
        display: flex;
    }

}

/*---------------------------------------------Media Queries tablette -------------------------------------------------------*/



@media screen and (min-width:768px) and (max-width:992px) {}