@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');

$font-titre-logo: shrikhand;
$font-text: roboto;
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-search: #eaeaea;



@keyframes heart {
    to { transform: scale(1)}
    from { transform: scale(0);}
}


@keyframes anim-plats {
    to {opacity: 1;}
    from {opacity: 0;}
}

/*@keyframes anim-div {
    0% {
        margin-top: -70px;
        opacity: 0;
    }

    100% {
        margin-top: 0;
        opacity: 1;
    }
}*/

@keyframes validation {
    to {
        transform: translateX(-90px);
        opacity: 1;
    }
    from {
        transform: translateX(0);
        opacity: 0;
    }
}

@keyframes validation_rotation {
    to {
        transform: rotate(360deg);
        opacity: 1;
    }
    from {
        transform: rotate(0deg);
        opacity: 0;
    }
}

@keyframes prix {
    to {
        transform: translateX(-90px);
        
    }
    from {
        transform: translateX(0);
        
    }
}

@keyframes rotation_validation {
    to {
        transform: rotate(180);
    }
    from {
        transform: rotate(0);
    }
}


body {
    margin: 0;
}


a {
    color: black;
    text-decoration: none;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.vide {
    width: 50px;
    margin-left: 50px;
}

.logo {
    font-family: $font-titre-logo;
    font-size: 35px;
    display: flex;
    justify-content: center;
    margin: 10px;
}

h1 {
    font-family: $font-text;
}

h2 {
    font-family: $font-text;
    font-size: 20px;
    font-weight: 300;
    color: #7e7e7e;
}

p {
    font-family: $font-text;
    font-size: 15px;
}

/*---------------------------------Restaurant ---------------------------------*/
.icone-retour {
    margin-left: 50px;
}

.container-resto {
    display: flex;
    flex-direction: column;
    background-color: rgb(231, 8, 8);

    .container_img-resto img {
        width: 100%;
        height: 225px;
        display: flex;
        object-fit: cover;
        margin-bottom: -25px;

    }
}


.menu {
    background-color: #f6f6f6;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    top: 200px;
    justify-content: center;

    h2 {
        font-family: $font-text;
        font-weight: 600;
        margin-left: 25px;
    }

}


.nom-resto {
    display: flex;
    align-items: center;
    position: relative;

    .container_heart {
        position: absolute;
        background: black;
        width: 50px;
        height: 50px;
        right: 25px;
        clip-path: path('M 4.018905,5.1914243 a 8.7328133,8.7328133 0 0 1 12.083124,-0.2315626 8.7328133,8.7328133 0 0 1 0.01769,-0.017687 8.7328133,8.7328133 0 0 1 0.0032,-0.00325 8.7328133,8.7328133 0 0 1 12.35006,0 8.7328133,8.7328133 0 0 1 1e-6,12.3500633 8.7328133,8.7328133 0 0 1 -0.0032,0.0032 L 16.119721,29.642294 4.0189097,17.541485 3.7696574,17.292232 l 0.00487,-0.0049 A 8.7328133,8.7328133 0 0 1 4.0188772,5.1914522 Z');
        transform: translate(0px, 25px);
    }
    .btn_heart {
        width: 50px;
        height: 50px;
        right: 25px;
        background: white;
        clip-path: path('M 4.9659367,6.4198605 a 8.0564026,7.7507194 0 0 1 11.1472103,-0.2055211 8.0564026,7.7507194 0 0 1 0.01632,-0.015698 8.0564026,7.7507194 0 0 1 0.003,-0.00289 8.0564026,7.7507194 0 0 1 11.393471,0 8.0564026,7.7507194 0 0 1 1e-6,10.9611726 8.0564026,7.7507194 0 0 1 -0.003,0.0029 L 16.129469,28.120981 4.965941,17.381031 4.7359948,17.159809 l 0.0045,-0.0043 A 8.0564026,7.7507194 0 0 1 4.965911,6.4198853 Z');

        &:active {
            animation: heart;
            animation-duration: 2s;
            background: linear-gradient(to bottom right, $color-secondary, $color-primary);
        }
    }

    h1 {
        font-family: $font-titre-logo;
        font-size: 25px;
        font-weight: 300;
        margin-left: 25px;
    }
}

.nom_plat1 {
     animation: anim-plats;
     animation-duration: 2s;
    
}

.nom_plat2 {
    animation: anim-plats;
    animation-duration: 4s;
}

.nom_plat3 {
    animation: anim-plats;
    animation-duration: 6s;
}

.nom_plat4 {
    animation: anim-plats;
    animation-duration: 8s;
}

h2 {

    border-bottom: solid 4px $color-tertiary;
    padding-bottom: 10px;
    width: 50px;

}

.etiquette_plats {
    background-color: white;
    border-radius: 15px;
    margin: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;



    h3 {
        font-family: $font-text;
        font-weight: 800;
        font-size: 15px;
    }

    p {
        font-family: $font-text;
        font-weight: 400;
    }
}


.fond {
    display: flex;
    width: 130px;
    align-items: flex-end;
    position: relative;
    right: -90px;
    &:hover {
        animation: validation;
        animation-duration: 5s;
        animation-fill-mode: forwards;
    }
    .fa-circle-check {
        transition: all(180deg) 5s;
        &:hover {
            transform: rotate(360deg);
        }
    }

   .prix {
       display: flex;
       
   }
    .validation {
        position: absolute;
        display: flex;
        width: 90px;
        right: 0;
        height: 100%;
        align-items: center;
        justify-content: center;
        background-color: $color-tertiary;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        color: white;
        
    }
    
    

    
    p {
        padding-right: 15px;
    }
    
    
}

.info-fonction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px;


    h1 {
        font-size: 25px;
        font-family: $font-text;

    }

    p {
        font-size: 15px;
        font-family: $font-text;
    }

    .btn-explore {
        display: flex;
        justify-content: center;

    }
}

#explore {
    justify-content: center;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
    border: none;
    height: 50px;
    width: 200px;
    font-size: 15px;
    transition: opacity 500ms;
    box-shadow: 2px 2px 17px rgba(0, 0, 0, 0.281);

    &:hover {
        opacity: 0.5;
    }
}



/*---------------------------------footer---------------------------------*/

footer {
    background-color: #353535;
    margin: 0;
    padding: 15px;
    color: white;

}

footer a {
    color: white;
}

.titre-footer {
    font-family: $font-titre-logo;
    margin-bottom: 15px;
}

.list-footer {
    display: flex;
    flex-direction: column;
}

.propal a {
    display: flex;
    align-items: center;

    p {
        margin-left: 15px;

    }

}

.partenaire a {
    display: flex;
    align-items: center;

    p {
        margin-left: 5px;

    }
}

.contact {
    padding-top: 15px;
}


/*---------------------------------------------Media Queries desktop -------------------------------------------------------*/
@media screen and (min-width:992px) {
    .compo-menu{ 
        display: flex;
        width: 90%;
        
    }

    .type_plats {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .etiquette_plats {
        display: flex;
        
    }
    
    
}

/*---------------------------------------------Media Queries tablette -------------------------------------------------------*/



@media screen and (min-width:768px) and (max-width:992px) {

   
}